Repository niall-byrne/profile-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-lint, toml-lint, yaml-lint, workflow-lint

shell-lint:
  name: shell-lint
  description: Lint the project's shell scripts.
  entry: shellcheck
  language: system
  pass_filenames: true
  stages:
  - commit

toml-lint:
  name: toml-lint
  description: Lint the project's TOML files.
  entry: ./{{cookiecutter.profile_slug}}/.pre-commit/toml-lint.sh
  language: system
  stages:
  - commit
  pass_filenames: true

yaml-lint:
  name: yaml-lint
  description: Lint the project's YAML files.
  entry: ./{{cookiecutter.profile_slug}}/.pre-commit/yaml-lint.sh
  args:
  - -c
  - ./{{cookiecutter.profile_slug}}/profile/.yamllint.yml
  language: system
  pass_filenames: true
  stages:
  - commit

workflow-lint:
  name: workflow-lint
  description: Lint the project's GitHub workflow files.
  entry: actionlint
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

ci(GITHUB): integrate cicd-tools (internal)
  {{cookiecutter.project_slug}}/.github/config/schemas/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/config/workflows/workflow-push.json
  {{cookiecutter.project_slug}}/.github/deactivated/.job-00-start.yml
  {{cookiecutter.project_slug}}/.github/deactivated/.job-00-success.yml
  {{cookiecutter.project_slug}}/.github/deactivated/.job-10-security.yml
  {{cookiecutter.project_slug}}/.github/deactivated/.job-30-documentation.yml
  {{cookiecutter.project_slug}}/.github/deactivated/.job-40-ansible-lint.yml
  {{cookiecutter.project_slug}}/.github/deactivated/.job-80-commit-lint.yml
  {{cookiecutter.project_slug}}/.github/deactivated/.job-80-toml-lint.yml
  {{cookiecutter.project_slug}}/.github/deactivated/.job-80-workflow-lint.yml
  {{cookiecutter.project_slug}}/.github/deactivated/.job-80-yaml-lint.yml
  {{cookiecutter.project_slug}}/.github/deactivated/.job-99-create-release.yml
  {{cookiecutter.project_slug}}/.github/deactivated/job-99-create-changelog.sh
  {{cookiecutter.project_slug}}/.github/deactivated/job-99-create-release.js
  {{cookiecutter.project_slug}}/.github/deactivated/job-99-release-candidate.sh
  {{cookiecutter.project_slug}}/.github/deactivated/job-99-version.sh
  {{cookiecutter.project_slug}}/.github/deactivated/task-setup-ansible-cache.sh
  {{cookiecutter.project_slug}}/.github/deactivated/task-slack-notification.sh
  {{cookiecutter.project_slug}}/.github/deactivated/task-use-poetry.sh
  {{cookiecutter.project_slug}}/.github/deactivated/workflow-determine-pushed-commits.sh
  {{cookiecutter.project_slug}}/.github/deactivated/workflow-push.yml
  {{cookiecutter.project_slug}}/.github/deactivated/workflow-set-value.sh
  {{cookiecutter.project_slug}}/.github/deactivated/workflow-setup-environment.sh
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/scripts/step-setup-environment.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.gitignore
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.vale.ini
  {{cookiecutter.project_slug}}/.vale/Vocab/{{cookiecutter.project_slug}}/accept.txt
  {{cookiecutter.project_slug}}/.vale/Vocab/{{cookiecutter.project_slug}}/reject.txt
  {{cookiecutter.project_slug}}/profile/.ansible-lint
  {{cookiecutter.project_slug}}/pyproject.toml
Due: shell-lint, toml-lint, yaml-lint

docs(README): update docs to reflect changes
  .vale/Vocab/profile-generator/accept.txt
  README.md
  {{cookiecutter.project_slug}}/.markdownlint.yml
  {{cookiecutter.project_slug}}/.vale/Vocab/{{cookiecutter.project_slug}}/accept.txt
  {{cookiecutter.project_slug}}/README.md
Due: yaml-lint

build(GALAXY): use osx_provisioner.collection
  {{cookiecutter.project_slug}}/profile/install.yml
  {{cookiecutter.project_slug}}/profile/requirements.yml
  {{cookiecutter.project_slug}}/profile/vars/main.yml
Due: yaml-lint

style(YAMLLINT): ensure octal values are quoted
  {{cookiecutter.project_slug}}/profile/.yamllint.yml
Due: yaml-lint

bump(RELEASE): 0.3.1 → 0.4.0
  pyproject.toml
Due: toml-lint

ci(PRECOMMIT): add credential scanning
  .github/scripts/job-50-test-precommit.sh
  .github/workflows/workflow-template-test.yml
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/.github/scripts/job-50-test-precommit.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-lint, yaml-lint, workflow-lint

docs(README): update readthedocs links
  .vale/Vocab/profile-generator/accept.txt
  {{cookiecutter.project_slug}}/README.md
Due: none

bump(RELEASE): 0.4.0 → 0.4.1
  pyproject.toml
Due: toml-lint

docs(README): update link to cicd-tools dockerfile
  .vale/Vocab/profile-generator/accept.txt
  README.md
Due: none

ci(GITHUB): move project from master -> main
  .github/actions/action-00-toolbox/action.yml
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .github/scripts/step-setup-environment.sh
  .github/workflows/workflow-template-test.yml
  README.md
  cookiecutter.json
  scripts/update.sh
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/README.md
Due: shell-lint, yaml-lint, workflow-lint

build(COOKIECUTTER): support latest poetry version
  hooks/post_gen_project.sh
Due: shell-lint

ci(GITHUB): deprecate osx monterey
  .github/scenarios/0.toml_linting-0.workflow_linting.json
  .github/scenarios/0.toml_linting-1.workflow_linting.json
  .github/scenarios/1.toml_linting-0.workflow_linting.json
  .github/scenarios/1.toml_linting-1.workflow_linting.json
  .vale/Vocab/profile-generator/accept.txt
  cookiecutter.json
Due: none

Path conditions:
  shell-lint: any of: ^.+\.sh$, but not: ^{{cookiecutter.profile_slug}}/.+$
  toml-lint: any of: ^.+\.toml$
  yaml-lint: any of: ^.+\.(yaml|yml)$, but not: ^{{cookiecutter.profile_slug}}/.+$
  workflow-lint: any of: ^.github/.+\.(yaml|yml)$, but not: ^{{cookiecutter.profile_slug}}/.+$
